.sponsor {
  height: 220px;
  width: 354px;
}

.card {
  margin: 25px;
  border-radius: 1.25rem;
}

.card-body {
  padding: 0;
  padding-bottom: 1.5rem;
}

.wrapper {
  background: #1a194d;
}

.section-sections {
  padding-top: 20vh;
}
