<div class="wrapper">
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="javascript:;" style="font-size:20px;"> NEC </a>
        <button aria-controls="navbarSupportedContent" aria-label="Toggle navigation" class="navbar-toggler"
          [attr.aria-expanded]="!isCollapsed" (click)="isCollapsed = !isCollapsed" id="example-header-2" type="button">
          <span class="navbar-toggler-icon"> </span>
        </button>
      </div>
      <div class="navbar-collapse" [isAnimated]="true" [collapse]="isCollapsed" id="example-header-2">
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a style="font-size:20px;"> NEC </a>
            </div>
            <div class="col-6 collapse-close text-right">
              <button aria-controls="navigation-index" aria-label="Toggle navigation" class="navbar-toggler"
                [attr.aria-expanded]="!isCollapsed" (click)="isCollapsed = !isCollapsed" id="example-header-2"
                type="button">
                <span> </span> <span> </span>
              </button>
            </div>
          </div>
        </div>
        <ul class="navbar-nav mx-auto">
          <!-- <li class="nav-item">
            <a class="nav-link" href="javascript:;"> Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:;"> About Us </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:;"> Products </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:;"> Contact Us </a>
          </li> -->
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item">
            <a class="nav-link btn btn-round btn-col" href="javascript:;">
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-round btn-col" href="javascript:;">
              Sponsors
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-round btn-col" href="javascript:;">
              Login
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <section class="section-sections bg-gradient-default">
    <div class="container">
      <div class="col-md-8 mx-auto">
        <div class="section-description text-center">
          <h2 class="display-2" style="color:aliceblue">Sponsor</h2>
          <h4 style="color:aliceblue">Who Believe in Us</h4>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="section-cols">
        <!-- <div class="row mt-5 mb-5"> -->
        <div class="row justify-content-center col-md-12 m-0 p-0">
          <div class="card col-md-3 ">
            <div class="card-header">
              <h5 class="card-title text-center">NEC Sponsor</h5>
            </div>
            <div class="card-body">
              <img alt="" class="shadow sponsor" src="assets/img/presentation-page/sections/header-3.jpg" />
            </div>
          </div>
          <div class="card col-md-3">
            <div class="card-header">
              <h5 class="card-title text-center">NEC Sponsor</h5>
            </div>
            <div class="card-body">
              <img alt="" class="shadow sponsor" src="assets/img/presentation-page/sections/header-3.jpg" />
            </div>
          </div>
          <div class="card col-md-3">
            <div class="card-header">
              <h5 class="card-title text-center">NEC Sponsor</h5>
            </div>
            <div class="card-body">
              <img alt="" class="shadow sponsor" src="assets/img/presentation-page/sections/header-3.jpg" />
            </div>
          </div>
          <div class="card col-md-3">
            <div class="card-header">
              <h5 class="card-title text-center">NEC Sponsor</h5>
            </div>
            <div class="card-body">
              <img alt="" class="shadow sponsor" src="assets/img/presentation-page/sections/header-3.jpg" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
<footer class="footer footer-simple bg-gradient-default">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a class="footer-brand" href="javascript:;">
          E-Cell IIT Bombay
        </a>
      </div>
      <div class="col-md-6">
        <div class="column">
          <ul class="inline-menu text-center">
            <li>
              <a class="nav-link" href="javascript:;">
                E-Summit
              </a>
            </li>
            <li>
              <a class="nav-link" href="javascript:;">
                Eureka
              </a>
            </li>
            <li>
              <a class="nav-link" href="javascript:;">
                NEC
              </a>
            </li>
            <li>
              <a class="nav-link" href="javascript:;">
                EnSpace
              </a>
            </li>
            <li>
              <a class="nav-link" href="javascript:;"> SSP </a>
            </li>
            <li>
              <a class="nav-link" href="javascript:;">
                EnB
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <ul class="social-buttons pull-right">
          <li>
            <a class="btn btn-icon btn-twitter btn-sm mr-1" href="https://twitter.com/CreativeTim" target="_blank">
              <i class="fab fa-twitter"> </i>
            </a>
          </li>
          <li>
            <a class="btn btn-icon btn-facebook btn-sm mr-1" href="https://www.facebook.com/CreativeTim"
              target="_blank">
              <i class="fab fa-facebook-square"> </i>
            </a>
          </li>
          <li>
            <a class="btn btn-icon btn-instagram btn-sm mr-1" href="https://www.instagram.com/CreativeTimOfficial"
              target="_blank">
              <i class="fab fa-instagram"> </i>
            </a>
          </li>
          <li>
            <a class="btn btn-icon btn-linkedin btn-sm mr-1" href="https://www.instagram.com/CreativeTimOfficial"
              target="_blank">
              <i class="fab fa-linkedin"> </i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>