<div class="cd-section" id="contact-us">
  <!-- style="    background: #172B4D" -->
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="javascript:;" style="font-size:20px;"> NEC </a>
        <button aria-controls="navbarSupportedContent" aria-label="Toggle navigation" class="navbar-toggler"
          [attr.aria-expanded]="!isCollapsed" (click)="isCollapsed = !isCollapsed" id="example-header-2" type="button">
          <span class="navbar-toggler-icon"> </span>
        </button>
      </div>
      <div class="navbar-collapse" [isAnimated]="true" [collapse]="isCollapsed" id="example-header-2">
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a style="font-size:20px;"> NEC </a>
            </div>
            <div class="col-6 collapse-close text-right">
              <button aria-controls="navigation-index" aria-label="Toggle navigation" class="navbar-toggler"
                [attr.aria-expanded]="!isCollapsed" (click)="isCollapsed = !isCollapsed" id="example-header-2"
                type="button">
                <span> </span> <span> </span>
              </button>
            </div>
          </div>
        </div>
        <ul class="navbar-nav mx-auto">
          <!-- <li class="nav-item">
            <a class="nav-link" href="javascript:;"> Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:;"> About Us </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:;"> Products </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:;"> Contact Us </a>
          </li> -->
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item">
            <a class="nav-link btn btn-round btn-col" href="javascript:;">
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-round btn-col" href="javascript:;">
              Sponsors
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="contactus-1 bg-default" style="background-image: url('assets/img/ill/1.svg')">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-7 ml-auto mr-auto">
          <div class="card card-contact card-raised">
            <div id="contact-form" method="post" role="form">
              <div class="card-header text-center">
                <h4 class="card-title">Login</h4>
              </div>
              <div class="card-body">

                <div class="row">
                  <div class="col-md-12 mx-auto justify-content-center">
                    <div class="text-center" style="font-size:21px;"><strong>
                        Welcome to <span> National Entrepreneurship Challenge</span>
                      </strong>
                    </div>
                    <br>
                    <div class="mx-auto text-center">
                      <button class="btn btn-primary text-center" type="submit">
                        <i class="fa fa-google" style="margin-right: 4px;"></i> SignIn with Google
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-5 d-flex justify-content-center flex-column">
          <h2 class="title text-white">XYZ</h2>
          <h4 class="description text-white">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas tempore dolores aspernatur id quod officiis
            magnam vitae modi, ipsa voluptate magni ducimus tenetur doloremque reiciendis atque, aperiam numquam facilis
            quisquam.
          </h4>
          <div class="info info-horizontal">
            <div class="icon icon-shape icon-shape-primary shadow rounded-circle text-white">
              <i class="ni ni-mobile-button"> </i>
            </div>
            <div class="description">
              <h4 class="info-title text-white">vjkekj</h4>
              <p class="description ml-3 text-white">
                something <br>
                cvjkbv<br>
                vrvev
                v
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<footer class="footer footer-simple bg-gradient-default">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a class="footer-brand" href="javascript:;">
          E-Cell IIT Bombay
        </a>
      </div>
      <div class="col-md-6">
        <div class="column">
          <ul class="inline-menu text-center">
            <li>
              <a class="nav-link" href="javascript:;">
                E-Summit
              </a>
            </li>
            <li>
              <a class="nav-link" href="javascript:;">
                Eureka
              </a>
            </li>
            <li>
              <a class="nav-link" href="javascript:;">
                NEC
              </a>
            </li>
            <li>
              <a class="nav-link" href="javascript:;">
                EnSpace
              </a>
            </li>
            <li>
              <a class="nav-link" href="javascript:;"> SSP </a>
            </li>
            <li>
              <a class="nav-link" href="javascript:;">
                EnB
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <ul class="social-buttons pull-right">
          <li>
            <a class="btn btn-icon btn-twitter btn-sm mr-1" href="https://twitter.com/CreativeTim" target="_blank">
              <i class="fab fa-twitter"> </i>
            </a>
          </li>
          <li>
            <a class="btn btn-icon btn-facebook btn-sm mr-1" href="https://www.facebook.com/CreativeTim"
              target="_blank">
              <i class="fab fa-facebook-square"> </i>
            </a>
          </li>
          <li>
            <a class="btn btn-icon btn-instagram btn-sm mr-1" href="https://www.instagram.com/CreativeTimOfficial"
              target="_blank">
              <i class="fab fa-instagram"> </i>
            </a>
          </li>
          <li>
            <a class="btn btn-icon btn-linkedin btn-sm mr-1" href="https://www.instagram.com/CreativeTimOfficial"
              target="_blank">
              <i class="fab fa-linkedin"> </i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>