.main{
    margin-left: 30px;
}
button{
    padding: 10px 40px;
    color: white;
    background: #1B4965;
    border-radius: 9999px;
    border: none;
}
input#file-upload-button{
    background: #1B4965;
}